body{
    background-color: #FCFBFB;
}



/*Header*/

#navBar{
    box-shadow: 0px 1px 10px #C2C3C2;
}

#navBarMiddle{
    justify-content: center;
}

.nav-link{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #201F1D;
}

.nav-link .active{
    color: #FFA633;
}

.nav-link:hover{
    color: #FFA633;!important;
}

#signInNav{
    color: white;
    background-color: #201F1D;
    font-family: 'Fira Sans', sans-serif;
}

#signUpNav{
    color: white;
    background-color: #FFA633;
    font-family: 'Fira Sans', sans-serif;
}



/*Section 1*/

#section1{
    height: 65vh;
    width: 100vw;

    background-image: url("/assest/images/browsepage/Section_1_Bg.png");
    background-size: cover;
    background-position: center;
}


/*Section 2*/

#section2{
    height: 40vh;
    width: 100vw;
}



/*Section 3*/

#section3{
    height: 30vh;
}

